* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@800&display=swap");
h1 {
  font-family: "Geologica", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#signup {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 0px;
  font-size: small;
  padding: 5px;
  overflow-x: hidden;
}

#signup p {
  margin: 0;
}

header {
  width: 100vw;
  position: absolute;
  z-index: 300;
}

.menu {
  text-align: right;
  position: absolute;
  width: 100%;
  z-index: 200;
  display: flex;
  justify-content: space-around;
}
#check {
  display: none;
}

.button {
  width: 48px;
  height: 48px;
  background: rgb(255, 196, 0);
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding-top: 8px;
  line-height: 8px;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 201;
}
.button:hover {
  background: #ff9d00;
}
.button span {
  height: 3px;
  width: 100%;
  background: white;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.62, 0.43, 0.35, 1.47);
}

.siteLogo {
  position: absolute;
  width: 50px;
  z-index: 201;
}

.nav-buttons {
  position: absolute;

  z-index: 201;
}

/* toggle icon animation */
#check:checked ~ .button span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
#check:checked ~ .button span:nth-child(2) {
  width: 0;
}

#check:checked ~ .button span:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

/* the nav height is set to 0 when the navbar is closed */

nav {
  text-align: left;
  overflow: hidden;
  transition: all 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  height: 0;
}
nav a {
  text-decoration: none;
  color: #0c1019;
  display: block;
  font-size: 18px;
  transition: all 0.4s cubic-bezier(0.22, 0.43, 0.35, 1.5);
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  text-align: center;
  border-bottom: 1px solid #b4ac97;
}

nav a:hover {
  background: #ffdd7f;
}

/* the nav height will be set to the height in pixels that would have for default, using height:auto won't work but you can put that value in pixels creating the slide*/
#check:checked ~ nav {
  height: 100vh;
  padding-top: 48px;
}

#check:checked ~ nav a {
  padding: 10px;
  opacity: 1;
  transform: scale(1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

#banner img {
  width: 100%;
}

/* Mobile Toggle */

.title {
  padding: 0;
  overflow: hidden;
}

span.char {
  display: inline-block;
  animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
  animation-fill-mode: both;
  animation-delay: calc(var(--char-index) * 0.2s);
}
@keyframes slide-up {
  from {
    transform: translateY(125%);
  }
}

.container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.border {
  color: black;
  border: 2px solid #000000;
}

li {
  display: block;
  text-align: center;
  padding: 1.5rem 0;
}

li a {
  font-size: 1.4rem;
}

#banner {
  position: relative;
  height: 100vh;
  background-image: url("https://unsplash.it/400/900?cold");
  background-size: cover;
}

#banner-text {
  position: absolute;
  font-family: "Geologica", sans-serif;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  line-height: 80%;
}

/* #banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */

#textbox {
  margin: 40px 20px 40px 20px;
}

#products {
  width: 100%;
}

.product {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product img {
  width: 100%;
  height: 70vh;
}

.product-description {
  width: 100%;
}

.slider {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  background: white;

  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.slider > div {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  text-align: center;
  border: 1px #e9e9e9 solid;
  box-sizing: border-box;
  object-fit: cover;
  margin-right: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

footer h2 {
  margin: 0;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* Desktop */
@media screen and (min-width: 1200px) {
  #banner {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0),
        rgba(245, 246, 252, 0),
        rgba(245, 246, 252, 0),
        rgb(255, 255, 255)
      ),
      url("https://unsplash.it/1200/900?cold");
  }

  #banner-text {
    font-size: 14vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 6vw;
  }

  .container {
    max-width: 100vw;
  }

  .nav-toggle {
    padding-left: 4rem;
  }

  .nav-buttons {
    padding-right: 4rem;
  }
}

/* tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
  #banner {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0),
        rgba(245, 246, 252, 0),
        rgba(245, 246, 252, 0),
        rgb(255, 255, 255)
      ),
      url("https://unsplash.it/720/900?cold");
  }

  #banner-text {
    font-size: 26vw;
  }
}

/* Mobile */
@media all and (max-width: 720px) {
  #banner {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0),
        rgba(245, 246, 252, 0),
        rgba(245, 246, 252, 0),
        rgb(255, 255, 255)
      ),
      url("https://unsplash.it/500/900?cold");
  }
  #banner-text {
    font-size: 36vw;
  }
}
